@import 'tailwindcss';
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@utility white-button {
  background-color: white;
  border-color: gray;
  border-radius: 1px;
  color: black;
  padding: 2px;
}

@custom-variant dark (&:where(.dark, .dark *));
/* dark 모드 */

@theme {
  /* 주요 색상 */
  --color-flow-blue: #0052cc;
  --color-flow-purple: #6554c0;

  /* 보조 색상 */
  --color-flow-teal: #36b37e;

  /* 강조 색상 */
  --color-flow-orange: #ff5630;

  /* 회사 폰트 */
  --font-noto-sans-kr: 'Noto Sans KR', sans-serif;

  /* 에니메이션 3-4 폰트 */
  --animate-show-up: show-up 0.5s ease-in-out;

  @keyframes show-up {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

/* transition 1*/

.card-container {
  height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid black;
  background-color: rgb(102, 205, 170);
  color: white;
  width: 200px;
  height: 150px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* transition 2 */

.container {
  height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.menu-container {
  border-radius: 8px;
  width: 100px;
  height: 100px;
}

.menu-item {
  border: 1px solid black;
  width: 100px;
  height: 20px;
}

/* infinty 1 */

li {
  display: inline-block;
  list-style: none;
}

.slideWrap {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  height: 200px;
  overflow: hidden;
}

.slideWrap .imgSlide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.slideWrap .imgSlide li {
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin-right: 5vw;
  background-color: #ccc;
  text-align: center;
}

.imgSlide.original {
  /* animation 추가 */
}

.imgSlide.clone {
  /* animation 추가 */
}

/* original용  */
@keyframes slide01 {
}

/* clone용 */
@keyframes slide02 {
}

/* li reset */

li {
  display: inline-block;
  list-style: none;
}

.slideWrap {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  height: 200px;
  overflow: hidden;
}

.slideWrap .imgSlide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.slideWrap .imgSlide li {
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin-right: 5vw;
  background-color: #ccc;
  text-align: center;
}

.imgSlide.original {
  /* animation 추가 */
  /* 30s: 애니메이션 지속 시간 */
  /* linear: 애니메이션 속도 곡선 (일정한 속도) */
  /* infinite: 애니메이션 무한 반복 */
  animation: slide01 30s linear infinite;
}

.imgSlide.clone {
  /* animation 추가 */
  /* 30s: 애니메이션 지속 시간 */
  /* linear: 애니메이션 속도 곡선 (일정한 속도) */
  /* infinite: 애니메이션 무한 반복 */
  animation: slide02 30s linear infinite;
}

@keyframes slide01 {
  /* 시점별 이동 효과 */
  /* 처음엔 정위치 */
  /* 50%까지는 왼쪽으로 완전히 이동하여 안보이게 */
  /* 50% 직후에 가장 오른쪽으로 이동하여 clone 이미지 오른쪽에 붙이기 */
  /* 100%에서는 다시 정위치 */
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide02 {
  /* 시점별 이동 효과 */
  /* 오른쪽에 위치하며 화면에서는 보이지 않음 */
  /* 100%에서는 왼쪽으로 이동하며 화면에 보이게 */
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
