@import 'tailwindcss';
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@utility white-button {
  background-color: white;
  border-color: gray;
  border-radius: 1px;
  color: black;
  padding: 2px;
}

@custom-variant dark (&:where(.dark, .dark *));
/* dark 모드 */
